.nav-bar {
  padding: 12px;
  color: #ffffff;
  font-size: 1.9rem;
  cursor: pointer;
  background: #4093e6;
}

.brand-name {
  font-family: "Shrikhand", cursive;
}

.hdr-rw {
  text-align: center;
  padding: 16px;
}

.hdr-rw > h1 {
  color: #4093e6;
  letter-spacing: 1.5px;
}

.hdr-rw > p {
  font-size: 1.1rem;
}
